/__pycahe__/
/old/
/result_figure/
/result_figure_a/
/result_figure_a_3tube/
/result_figure_e/
/result_figure_i/
/result_figure_o/
/result_figure_o_2tube/
/result_figure_u/
/wav/
least1.py
*.bat
*.pyc
*.md~
*.py~
*.*~
*.pdf
*.wav
